@use '../utils' as *;

/*=============================
    Counter 01
===============================*/
.counter-card {
    background: linear-gradient(180deg, #F0F4F7 0%, #FFFFFF 100%);
    border: 1px solid var(--tg-border-3);
    border-radius: 40px 0px;
    padding: 60px 50px;
    transition: 0.4s;
    &_title {
        font-weight: 700;
        font-size: 48px;
        line-height: normal;
        margin-bottom: -0.3em;
        margin-top: -0.25em;
        @media #{$ml} {
            font-size: 42px;
        }
        @media #{$xs} {
            font-size: 32px;
        }
        @media #{$sm} {
            font-size: 40px;
        }
    }
    &_subtitle {
        font-size: 14px;
        font-weight: 700;
        font-family: var(--tg-heading-font-family);
        color: var(--tg-theme-primary);
        text-transform: uppercase;
        margin-top: 12px;
    }
    &_text {
        font-size: 16px;
        margin-bottom: -0.3em;
        margin-top: 15px;
    }
    &:hover {
        border-color: var(--tg-theme-primary);
    }
    @media #{$lg} {
        padding: 50px 30px;
    }
    @media #{$xs} {
        padding: 50px 30px;
    }
    @media #{$sm} {
        padding: 50px 40px;
    }
}

/*=============================
    Counter 02
===============================*/
.counter-wrap2 {
    background: var(--tg-heading-color);
    border-radius: 10px;
    padding: 100px 120px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        width: 416px;
        height: 416px;
        bottom: 0;
        left: 0;
        background: var(--tg-theme-primary);
        mix-blend-mode: difference;
        filter: blur(125px);
        z-index: -1;
        transform: translate(-50%, 50%);
    }
    .counter-bg-shape2-1 {
        position: absolute;
        clip-path: polygon(50% 0, 50% 0, 0 100%, 20% 100%, 50% 40%, 80% 100%, 100% 100%, 100% 100%);
        background: linear-gradient(var(--tg-theme-primary) 0%, var(--tg-heading-color) 75%);
        height: 600px;
        width: 600px;
        right: 100px;
        bottom: -140px;
        z-index: -1;
        opacity: 0.4;
    }
    .counter-bg-shape2-2 {
        position: absolute;
        clip-path: polygon(50% 0, 50% 0, 0 100%, 20% 100%, 50% 40%, 80% 100%, 100% 100%, 100% 100%);
        background: linear-gradient(var(--tg-theme-primary) 0%, var(--tg-heading-color) 75%);
        height: 300px;
        width: 300px;
        right: -150px;
        bottom: -90px;
        z-index: -1;
        opacity: 0.4;
    }
    @media #{$ml} {
        padding: 80px;
    }
    @media #{$xs} {
        padding: 60px 30px;
    }
    @media #{$sm} {
        padding: 60px;
    }
}
.counter-card2 {
    display: flex;
    gap: 30px;
    .box-icon {
        flex: none;
        img {
            transition: 0.4s;
        }
    }
    .counter-card_title {
        font-size: 40px;
        font-weight: 700;
        color: var(--tg-color-white-default);
    }
    .counter-card_text {
        color: var(--tg-color-white-default);
        font-weight: 700;
        margin-top: 10px;
    }
    &:hover {
        .box-icon {
            img {
                transform: scale(-1) rotate(180deg);
            }
        }
    }    
    @media #{$lg} {
        justify-content: center;
    }
    @media #{$xs} {
        justify-content: start;
        .counter-card_title {
            font-size: 36px;
        }
    }
}

/*=============================
    Counter 03
===============================*/
.counter-card3 {
    background: var(--tg-color-white-default);
    box-shadow: 0px 6px 60px 6px rgba(14, 25, 27, 0.11);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 156px;
        height: 156px;
        border-radius: 50%;
        top: 0;
        left: 50%;
        background: var(--tg-theme-primary);
        opacity: 0.19;
        filter: blur(40px);
        transform: translate(-50%, -50%);
    }
    .counter-card_title {
        color: var(--tg-theme-primary);
        font-size: 54px;
        font-weight: 700;
    }
    .box-content {
        padding: 50px 0;
    }
    .box-thumb {
        position: relative;
        img {
            width: 100%;
            mix-blend-mode: luminosity;
        }
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--tg-theme-primary);
            mix-blend-mode: multiply;
        }
    }
    .counter-card_text {
        position: absolute;
        font-size: 16px;
        font-weight: 700;
        color: var(--tg-color-white-default);
        text-transform: uppercase;
        inset: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
}

/*=============================
    Counter 04
===============================*/
.counter-wrap4 {
    border-radius: 20px;
    overflow: hidden;
    margin: 0 40px;
    position: relative;
    z-index: 1;
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 788px;
        height: 788px;
        background: var(--tg-theme-primary);
        opacity: 0.25;
        filter: blur(250px);
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    &:before {
        left: auto;
        right: 0;
        transform: translate(50%, -50%);
    }
    @media (max-width: 1200px) {
        margin: 0;
        border-radius: 0;
    }
}
.counter-card4-wrap {
    display: flex;
    border-radius: 10px;
    background: rgba($color: #ffffff, $alpha: 0.05);
    border: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    justify-content: space-around;
    align-items: center;
    padding: 0 60px;
    gap: 60px;
    flex-wrap: wrap;
    .divider {
        background: rgba($color: #ffffff, $alpha: 0.08);
        height: 150px;
        width: 1px;
    }
    @media #{$xl} {
        gap: 40px;
    }
    @media (max-width: 1200px) {
        gap: 0 30px;
        padding: 0 30px;
    }
    @media #{$lg} {
        padding: 60px;
        gap: 30px;
        .divider {
            display: none;
        }
    }
    @media #{$md} {
        justify-content: start;
    }
    @media #{$xs} {
        padding: 60px 30px;
    }
    @media #{$sm} {
        padding: 60px;
    }
}
.counter-card4 {
    display: flex;
    gap: 20px;
    align-items: center;
    .counter-card_title {
        font-size: 48px;
        font-weight: 700;
        color: var(--tg-color-white-default);
    }
    .counter-card_text {
        text-transform: uppercase;
        color: var(--tg-color-white-default);
        font-size: 16px;
        font-weight: 700;
        font-family: var(--tg-heading-font-family);
        margin-bottom: 0;
        margin-top: 0;
        max-width: 192px;
    }
    @media #{$xl} {
        .counter-card_text {
            font-size: 14px;
        }
    }
    @media #{$xs} {
        .counter-card_title {
            font-size: 36px;
        }
    }
}