@use '../utils' as *;

/*=============================
    Goal area
===============================*/
.goal-thumb1-1 {
    position: relative;
    display: inline-block;
    padding-left: 24px;
    .img-bg-shape {
        position: absolute;
        width: 582px;
        height: 515px;
        background: linear-gradient(23.98deg, var(--tg-theme-primary) 15%, rgba(186, 226, 226, 0.02) 100%);
        mask-size: 100% 100%;
        left: 0;
        right: 0;
        top: 20px;
    }
    .thumb {
        mask-size: 100% 100%;
        height: 535px;
        width: 535px;
        position: relative;
    }
    img {
        height: 100%;
        object-fit: cover;
    }
	@media #{$xs} {
        .img-bg-shape {
            width: 100%;
            height: -webkit-fill-available;
        }
        .thumb {
            width: auto;
            height: 400px;
        }
    }
	@media #{$vxs} {
        .thumb {
            height: 300px;
        }
    }
}

.goal-grid-card {
    display: flex;
    gap: 30px;
    &:not(:last-child) {
        border-bottom: 1px solid var(--tg-border-1);
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .box-icon {
        width: 80px;
        height: 80px;
        background: var(--tg-theme-primary);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--tg-color-white-default);
        flex: none;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            inset: 10px -5px;
            z-index: -1;
            border-radius: 5px;
            background: var(--tg-border-1);
            transform: skew(15deg, -15deg);
            @include transition(.4s);
        }
        svg,img,i {
            @include transition(.4s);
        }
    }
    .card-details {
        align-self: center;
    }
    .box-title {
        font-size: 20px;
        font-weight: 700;
        margin-top: -0.15em;
    }
    .box-text {
        margin-bottom: -0.4em;
    }
    &:hover {
        .box-icon {
            svg,img,i {
                transform: scale(-1) rotate(180deg);
            }
            &:after {
                transform: skew(-15deg, 15deg);

            }
        }
    }
	@media #{$xs} {
        display: block;
        .box-icon {
            margin-bottom: 20px;
        }
    }
}