@use '../utils' as *;

/*=============================
    Project 01
===============================*/
.project-slider1 {
    margin: 0 -10px;
    @media #{$lg} {
        margin: 0 20px;
    }
    @media #{$xs} {
        margin: 0 15px;
    }
}
.project-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    &:before {
        z-index: -1 !important;
    }
    .project-thumb {
        position: relative;
        z-index: -2;
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(13, 46, 44, 0.2) 65.21%, var(--tg-theme-primary) 80.14%);
            mix-blend-mode: normal;
            opacity: 0;
            transition: 0.4s;
        }
        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
    .project-card-details {
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        padding: 40px;
        opacity: 0;
        transition: 0.4s;
    }
    .project-subtitle {
        font-size: 16px;
        text-transform: uppercase;
        color: var(--tg-color-white-default);
        margin-bottom: 6px;
        display: block;
    }
    .project-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: -0.3em;
        a {
            color: var(--tg-color-white-default);
        }
    }
    &:hover {
        .project-thumb {
            img {
                scale: 1.05;
            }
            &:after {
                opacity: 0.96;
            }
        }
        .project-card-details {
            opacity: 1;
            bottom: 0;
        }
    }    
    @media #{$xs} {
        .project-thumb {
            &:after {
                opacity: 0.96;
            }
        }
        .project-card-details {
            opacity: 1;
            bottom: 0;
        }
    }
    @media #{$vxs} {
        .project-card-details {
            padding: 30px;
        }
    }
}

/*=============================
    Project 02
===============================*/
.project-area-2 {
    background-image: linear-gradient(var(--tg-theme-primary), var(--tg-theme-primary));
    background-repeat: no-repeat;
    background-size: 100% calc(100% - 294px);
    @media #{$lg} {
        background-size: 100% calc(100% - 150px);
    }
    @media #{$md} {
        background-size: 100% calc(100% - 148px);
    }
    @media #{$xs} {
        background-size: 100% calc(100% - 170px);
    }
}
.project-card2 {
    .project-thumb {
        overflow: hidden;
        border-radius: 10px;
        img {
            width: 100%;
            min-height: 300px;
            object-fit: cover;
        }
    }
    .project-card-details {
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 30px;  
        @media #{$xs} {
            left: 20px;
            right: 20px;
            bottom: 20px;
        }
    }
    .project-card-tag {
        border-radius: 5px;
        background: var(--tg-theme-primary);
        font-size: 14px;
        font-weight: 600;
        padding: 5.25px 30px;
        text-transform: uppercase;
        display: inline-flex;
        margin-bottom: 5px;
        flex-wrap: wrap;
        a {
            color: var(--tg-color-white-default);
            &:hover {
                color: var(--tg-color-white-default);
                text-shadow: -0.3px -0.3px 0 var(--tg-color-white-default), 0.3px 0.3px var(--tg-color-white-default);
            }
        }
        @media #{$xs} {
            padding: 5.25px 25px;
        }
    }
    .project-title {
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 700;
        background: var(--tg-color-white-default);
        border-radius: 5px;
        padding: 24px 30px;
        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--tg-heading-color);
            gap: 15px;
            &:hover {
                color: var(--tg-theme-primary);
            }
        }
        @media #{$xs} {
            font-size: 20px;
            padding: 24px;
        }
        @media #{$vxs} {
            font-size: 18px;
        }
    }
}

/*=============================
    Project 03
===============================*/
.project-slider3 {
    position: relative;
    .slider-arrow {
        position: absolute;
        top: 50%;
        margin-top: calc(var(--icon-size, 60px) / -2);
        width: var(--icon-size, 60px);
        height: var(--icon-size, 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--tg-theme-primary);
        &.slider-prev {
            left: var(--pos-x, -120px);
        }
        &.slider-next {
            right: var(--pos-x, -120px);
        }
        @media #{$xl} {
            --pos-x: -90px;
        }
        @media #{$ml} {
            --pos-x: -30px;
            background: var(--tg-color-white-default);
        }
        @media (max-width: 1200px) {
            display: none;
        }
    }
}
.project-card3 {
    position: relative;
    .project-thumb {
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--tg-theme-primary);
            mix-blend-mode: multiply;
            opacity: 0;
            transition: 0.4s;
        }
        img {
            width: 100%;
            min-height: 300px;
            object-fit: cover;
            transition: 0.4s;
            @media #{$xs} {
                min-height: 500px;
            }
        }
    }
    .project-card-details {
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 30px;  
        @media #{$xs} {
            left: 20px;
            right: 20px;
            bottom: 20px;
        }
    }
    .project-card-tag {
        border-radius: 10px;
        background: var(--tg-theme-primary);
        font-size: 14px;
        font-weight: 600;
        padding: 5.25px 30px;
        text-transform: uppercase;
        display: inline-flex;
        margin-bottom: 5px;
        flex-wrap: wrap;
        a {
            color: var(--tg-color-white-default);
            &:hover {
                color: var(--tg-color-white-default);
                text-shadow: -0.3px -0.3px 0 var(--tg-color-white-default), 0.3px 0.3px var(--tg-color-white-default);
            }
        }
        @media #{$xs} {
            padding: 5.25px 25px;
        }
    }
    .project-title {
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 700;
        border-bottom: 1px solid var(--tg-border-1);
        padding-bottom: 15px;
        margin-bottom: 20px;
        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--tg-heading-color);
            gap: 15px;
            &:hover {
                color: var(--tg-theme-primary);
            }
        }
        @media #{$xs} {
            font-size: 20px;
        }
        @media #{$vxs} {
            font-size: 18px;
        }
    }
    .box-text {
        margin-bottom: -0.4em;
    }
    .project-card-content {
        background: var(--tg-color-white-default);
        border-radius: 10px;
        padding: 30px;
    }
    &:hover {
        .project-thumb {
            img {
                filter: grayscale(1);
            }
            &:after {
                opacity: 1;
            }
        }
    }
    &.style2 {
        .project-thumb {
            img {
                filter: none;
            }
            &:after {
                display: none;
            }
        }
        .project-card-details {
            opacity: 0;
            bottom: 0;
            transition: 0.4s;
        }
        &:hover {
            .project-card-details {
                opacity: 1;
                bottom: 30px;
            }
        }
    }
}

/*=============================
    Project Details Page
===============================*/
.project__details-wrap {
    margin-right: 20px;
    .title {
        font-size: 36px;
    }
    @media #{$lg} {
        margin-right: 0;
        .title {
            font-size: 24px;
        }
    }
}
.project__details-thumb {
    border-radius: 12px;
    overflow: hidden;
    img {
        width: 100%;
    }
}