$colors: (
    body: (
        color: #74787C,
    ),
    heading: (
        color: #1D3131,
    ),
    theme: (
        primary: #128982,
    ),
    color: (
        dark-theme: #51AEA9,
        white-default: #ffffff,
        red-default: #ED1730,
        yellow-default: #FCE300,
        gray-1: #1C2F35,
        gray-2: #2C383D,
        gray-3: #0D161A,        
        gray-4: #F7F4F7,
        gray-5: #263B42,
        gray-6: #1F363E,
        gray-7: #18282D,
        gray-8: #172727,


        dark: #000000,
        black-1: #161F23,
        black-2: #0B0F13,
        black-3: #151D22,
        smoke:   #F5F6F7,
        smoke-2: #E4F2F6,
        smoke-3: #F6F6F7,
        smoke-4: #F2F6FF,
        smoke-5: #F6F6F6,
        smoke-6: #708288,
        smoke-7: #F0F3F9,
    ),
    border: (
        1: #EAEAEA,
        2: #E8E8E8,
        3: #EBF2F6,
        4: #DBE3EB,
        5: #F8F8F8,
        6: #E6E6E6,
        7: #37464D,
        8: #55656C,
        9: #24383F,
    )
);
.text-theme {
    color: var(--tg-theme-primary) !important;
}
.text-body {
    color: var(--tg-body-color) !important;
}